<?php
  session_start();
 $name_site = "driftking"; 
include('components/conexao.php')
?>

<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><?php echo $name_site; ?></title>


  </head>
  <body>


    <div class="container">
      
      <div class="row">
        <div class="col-md-3">
          <a href="./"><img class="py-2" src="./img/logo.jpg" width= '250' height='250'></a>
        </div>
        <div class="col mt-5">
          <h1 id="titulo">Drift King</h1>
          <p id="texto">Compre os melhores e mais lindos veiculos do mercado.</p>
        </div>
      </div>

        <nav id="menu">
          <ul><h2>Modelos disponíveis:</h2>
            <li><a  href="index.php">Home</a>|</li>
            <li><a  href="camionetes.php">Camionetes</a>|</li>
            <li><a  href="carros.php">Carros</a>|</li>
            <li><a  href="motos.php">Motos</a>|</li>
            <li><a  href="caminhoes.php">Caminhões</a>|</li>
          </ul>
        </nav>
        {% for post in object_list %}
        <h4>{{ post }}</h4>
        <p>{{ post.description }}</p>
        <b>Author:</b> {{ post.author }}
        {% endfor %}


      <div class="row pt-3">
        <div class="col-md-9">
        </body>
        </html>
          <style type="text/css">

      /*
      .btn-danger{
        background-color: #0000FF;
      }
      .btn-danger a:hover{
        background-color: #00FF00;
      }]
      */
      #titulo{
        font-size: 100px;
        color: #2E2E2E;
      }
      #texto{
        font-size: 25px;
        color: #2E2E2E;
      }
      #menu ul {
          padding:0px;
          margin:0px;
          background-color:#848484;
          list-style:none;
      }
      #menu ul li { display: inline; }
      #menu ul li a {
          padding: 2px 10px;
          display: inline-block;
          background-color:#848484;
          color: #333;
          text-decoration: none;
          border-bottom:3px solid #848484;
      }
      #menu ul li a:hover {
          background-color:#D6D6D6;
          color: #6D6D6D;
          border-bottom:3px solid #EA0000;
        }
        body  {
                background: #848484;
            }
      </style>