<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Memes</title>


  </head>
  <body>


    <div class="container">
      
      <div class="row">
        <div class="col-md-3">
          <a href="http://127.0.0.1:8000"><img class="py-2" src="https://i.ebayimg.com/images/g/FnQAAOSwEeFVEPB~/s-l640.jpg" width= '250' height='250'></a>
        </div>
        <div class="col mt-5">
          <h1 id="titulo">Memes</h1>
          <p id="texto">Criei e sai correndo...</p>
        </div>
      </div>

      <ul>
        
        <li><a href="http://127.0.0.1:8000">Geral</a></li>
        {% for category in categories %}
        <li><a href="{% url 'category-detail' category.pk %}">{{ category.name }}</a></li>
        {% endfor %}
        
        <form id ='dog' action="{% url 'search' %}" method="get">
          <input id = "dog2"name="q" type="text" size="25" placeholder="Pesquisa...">
          <input type="submit" id="dog3"value="Pesquisar">
        </form>
        <li><a href="{% url 'login'%}">Fazer Login</a></li>
        </ul>
      {% block content %}
      {% endblock %}

      <div class="row pt-3">
        <div class="col-md-9">
        </body>
        </html>
      <style type="text/css">

      /*
      .btn-danger{
        background-color: #0000FF;
      }
      .btn-danger a:hover{
        background-color: #00FF00;
      }]
      */
      #titulo{
        font-size: 100px;
        color: #000000;
      }
      #texto{
        font-size: 25px;
        color: #000000;
      }
      #menu ul {
          padding:0px;
          margin:0px;
          background-color:#848484;
          list-style:none;
      }
      #menu ul li { display: inline; }
      #menu ul li a {
          padding: 2px 10px;
          display: inline-block;
          background-color:#848484;
          color: #333;
          text-decoration: none;
          border-bottom:3px solid #848484;
      }
      #menu ul li a:hover {
          background-color:#D6D6D6;
          color: #6D6D6D;
          border-bottom:3px solid #EA0000;
        }
        ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              border: 1px solid #e7e7e7;
              background-color: #f3f3f3;
            }

        li {
              float: left;
            }

      li a {
              display: block;
              color: #666;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }

      li a:hover:not(.active) {
              background-color: #ddd;
            }

      li a.active {
              color: white;
              background-color: #4CAF50;
            }

      button {
              background-color: #4CAF50; /* Green */
              border: none;
              border-radius: 10px;
              color: white;
              padding: 10px 25px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 17px;
              margin-bottom: 0px;
              margin-top: 20px;
              }
      #dog{
        float:right;
      }
      #dog2{
        height: 50px;
      }
      #dog3{

        
        margin-top: 1px;
        padding: 10px 25px;
      }
</style>