<div class="row>">
        <div class="card my-3">
                <div class="card-body">
                        <b>Autor:</b> {{ post.author }}
                        <h4>{{ post.title}}</h4>
                        <b>Categoria: {{ post.category }}</b>
                        <p>{{ post.description }}</p>
                        <br>
                        <a href="{% url 'post-detail' post.pk %}" ><button type="button" class="button">Ver mais</button></a>
                </div>
        </div> 
</div>

<style>
        .button {
                background-color: #4CAF50; /* Green */
                border: none;
                border-radius: 10px;
                color: white;
                padding: 10px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 17px;
                margin-bottom: 0px;
                margin-top: 20px;
                }
                

</style>