{% extends "blog/base.html" %}
{% block content %}

<div class="row>">
        <div class="card my-3">
                <div class="card-body">
                        <h4>{{ object.title }}</h4>
                    <p>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-subtitle">Autor: {{ object.author }}</p>
                        <p class="card-subtitle"></p>Postado em: {{ object.create_at }}</p>
                        <p class="card-subtitle">Categoria: {{ object.category }}</p>
                        <br>
                        <img src="{{ object.banner.url }}" class="img-fluid">
                        <p class="card-text">{{ object.text|safe }}</p>
                    </p>
                </div>
        </div> 
</div>



<div class="row>">
                {% for comment in object.comments.all %}
        <div class="card my-3">
                <div class="card-body">
                
                        <p>{{ comment.created_at }}</p>
                        <p>{{ comment.text }}</p>
                

                
                
                </div>
        </div> 
        {% endfor %}


{% for comment in post.comments.all %}
<p>
        <b>{{ comment.author }}</b>
        {{ comment.text }}
        {{ comment.created_at }}
</p>
{% endfor %}
<div class="row>">
        <div class="card my-3">
                <div class="card-body">
                        <form method="POST" action="{% url 'comment' object.id %}">
                        {% csrf_token %}
                        <textarea name="text" size="100">
                        </textarea>
                        <input class="button" type="submit" value="Comentar">
                        </form>
                </div> 
        </div> 
</div>


{% endblock %}
