{% extends "blog/base.html" %}
{% block content %}
<div class="row>">
                {% for post in object_list %}

                <div class="card my-3">
                        <div class="card-body">
                                <h4>{{ post.categorys.sad }}</h4>
                                <p>{{ post.description }}</p>
                                <b>Author:</b> {{ post.author }}
                                <br>
                                <button type="button" class="button">Success</button>
                        </div>
                </div>
                {% endfor %}

</div>

<style>
        .button {
                background-color: #4CAF50; /* Green */
                border: none;
                border-radius: 10px;
                color: white;
                padding: 10px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 17px;
                margin-bottom: 0px;
                margin-top: 20px;
                }
                

</style>
{% endblock %}